name: Publish

on:
  push:
    branches:
    - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
    id-token: write # OIDC for npm Trusted Publishing
    contents: write
    pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    outputs:
      published: ${{ steps.changesets.outputs.published }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup project
        uses: ./.github/actions/setup

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run changeset:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linearb:
    needs: [release]
    if: ${{ needs.release.outputs.published == 'true' }}
    uses: workleap/wl-reusable-workflows/.github/workflows/linearb-deployment.yml@main
    with:
      environment: 'release'
    secrets: inherit
